<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }} - {{ blogtitle }}</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/blog.css">
</head>
<body>
<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">{{ title }} - {{ blogtitle }}</h1>
    </div>
    <div style="margin-top: 20px; font-size:20">
        {% for page in pagelinks: %}
        <a href="{{ page['url'] }}">{{ page['title'] }}</a>
        {% endfor %}
    </div>

    <hr style="margin: 0"/>

    {% for post in postlinks: %}
    <div class="row col-xs-12 col-md-10 col-lg-8 col-sm-12 blog-main">
        <div class="blog-post">
            <h3 class="blog-index-title">
                <a href="{{ post['url'] }}" target="_blank">{{ post['title'] }}</a>
            </h3>
        </div>
    </div>
    {% endfor %}
</div>
<div class="footer">
</div>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>