<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }} - {{ blogtitle }}</title>
    <link rel="stylesheet" href="static/css/mp.css?v=1" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css?v=1" />
</head>
<body>
    <div class="container">
        <div class="blog-header">
            <h1>{{ title }} - {{ blogtitle }}</h1>
            <ul class="flex">
                {% for page in pagelinks: %}
                <li><a href="{{ page['url'] }}"><h3>{{ page['title'] }}</h3></a></li>
                {% endfor %}
            </ul>
        </div>

        <div>
            {% for post in postlinks: %}
            <div>
                <h4 >
                    <a href="{{ post['url'] }}" target="_blank">{{ post['title'] }}</a>
                </h4>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>