<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }} - {{ blogtitle }}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">{{ blogtitle }}</h1>
        <hr/>
    </div>
    <div class="row col-sm-12 blog-main">
        <div class="blog-post">
            <h3 class="blog-post-title">
                {{ title }}
            </h3>
            {{ content }}
        </div>
    </div>
</div>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>