/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 0px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: normal;
}
.blog-index-title {
  font-size: 3rem;
}
.blog-main {
  font-size: 18px;
  line-height: 1.5;
  max-width: 900px;
}

/*
 * Blog posts
 */

.blog-post {
  max-width: 900px;
}
.blog-post-title {
  font-size: 3rem;
  padding-bottom: 20px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

/*
 * Footer
 */
.footer {
  padding-bottom: 40px;
}
.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
