.bottom-text {
  width: 100%; 
  height: 50px;
  line-height: 50px;
  text-align: center; 
  vertical-align: middle; 
  background-color: #2e3647; 
  color: white;
}
.bottom-imgs {
  width: 100%;
  height: 88px;
  background-color: #202530;
}
#user-list{
  width:100%;
  white-space: nowrap; /*不换行*/
  overflow-x:scroll;
}
.first-li {
  margin-left: 10px;
  margin-right: 10px;
}
.user {
  height: 34px;
  width: 34px;
  margin-bottom: 26px;
  margin-left: 5px;
}
.playing {
  height: 60px; 
  width: 60px;
  border:5px solid #22bf94;
  margin-top: 10px;
  margin-bottom: 10px;
}