.header {
  background-color: #2e3647;
}
.img-logo {
  height: 50px; 
  width: 50px; 
  margin-left: 15px;
  margin-top: 2px;
}
.img-txt {
  height: 21px; 
  width: 192px;
  margin-left: 6px;
  margin-bottom: 12px;
}
.img-down {
  height: 28.8px; 
  width: 64px; 
  margin-left: 5px;
  margin-bottom: 10px;
}